.content {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .categories-grid {
    height: calc(100vh - 180px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    align-content: start;
    gap: 10px;
    margin: 8px 0;
    padding: 10px;
    overflow-y: auto;

    .category-button {
      width: 100%;
      min-height: 30px;
    }
  }
}

