<div class="content">
  @if (!category) {
    <div class="categories-grid">
      @for (categoryItem of slokaService.categories; track categoryItem) {
        <button
          (click)="setCategory(categoryItem)"
          [class.is-selected]="category === categoryItem"
          class="category-button">
          {{ categoryItem }}
        </button>
      }
    </div>
  } @else {
    <app-sloka [text]="text" [sloka]="sloka" (click)="showNext()"></app-sloka>

    <div class="footer">
      <button (click)="showPrevious()" class="icon-size" [disabled]="filteredTexts.length < 2" aria-label="Previous" title="Previous">
        &#9664;
      </button>
      <button (click)="showCategorySelector()" class="icon-size is-selected" [disabled]="false" aria-label="Change Category" title="Change Category">
        &#9776;
      </button>
      <button (click)="showNext()" class="icon-size" [disabled]="filteredTexts.length < 2" aria-label="Next" title="Next">
        &#9654;
      </button>
    </div>
  }
</div>

