<div class="practice-page">
  <section class="practice-card" *ngIf="verse">
	<header class="practice-header">
	  <h1 class="practice-title">Bhagavad-gítá {{ verse.chapter }}.{{ verse.index }}</h1>
	</header>

	<div class="verse" aria-live="polite">
    “<ng-container *ngFor="let token of verseTokens; trackBy: trackByIndex">
		<span *ngIf="token.kind === 'space'" class="verse-space">{{ token.text }}</span>

		<span *ngIf="token.kind === 'text'" class="verse-word">{{ token.text }}</span>

		<ng-container *ngIf="token.kind === 'blank' && blankState(token.blankIndex) as blank">
		  <span
			class="verse-blank"
			[class.verse-blank--active]="isBlankActive(token.blankIndex ?? -1)"
			[class.verse-blank--revealed]="shouldRevealBlank(token.blankIndex)"
			[class.verse-blank--correct]="blank.status === 'correct'"
			[class.verse-blank--incorrect]="blank.status === 'incorrect'"
			[style.min-width.ch]="getBlankWidth(token.text)"
		  >
			<ng-container [ngSwitch]="blank.status">
			  <ng-container *ngSwitchCase="'pending'">
				  <span *ngIf="shouldRevealBlank(token.blankIndex); else hiddenBlank" class="blank-result blank-result--revealed">
					{{ blank.displayText }}
				</span>

				<ng-template #hiddenBlank>
				  <span class="blank-placeholder">&nbsp;</span>
				</ng-template>
			  </ng-container>

			  <span *ngSwitchCase="'correct'" class="blank-result blank-result--correct">
				{{ blank.userAnswer }}
			  </span>

			  <span *ngSwitchCase="'incorrect'" class="blank-result blank-result--incorrect">
				<span class="blank-user">{{ blank.userAnswer }}</span>
				<span class="blank-correction">{{ blank.displayText }}</span>
			  </span>
			</ng-container>
		  </span>
		</ng-container>
	  </ng-container>”
	</div>

	<form class="answer-panel" *ngIf="!isCompleted; else completedState" (ngSubmit)="submitAnswer()">
	  <div class="answer-label-row">
	    <label class="answer-label" for="practice-answer">
	      Add meg a hiányzó szót.
	    </label>
	    <span class="answer-help-button" (click)="openInfoModal()">
	      ?
	    </span>
	  </div>

	  <div class="answer-row">
		<input
		  id="practice-answer"
		  name="practiceAnswer"
		  class="answer-input"
		  [(ngModel)]="currentAnswer"
		  [disabled]="!hasActiveBlank"
		/>
      <button class="answer-button icon-size" type="submit" [disabled]="!canSubmit()">
		    <img src="assets/images/practice_next_icon.png"/>
      </button>
      <button
        class="reveal-button icon-size" type="button"
        [disabled]="!hasPendingBlanks"
        (pointerdown)="startRevealPendingBlanks()"
        (pointerup)="stopRevealPendingBlanks()"
        (pointerleave)="stopRevealPendingBlanks()"
        (pointercancel)="stopRevealPendingBlanks()"
        (blur)="stopRevealPendingBlanks()"
        (keydown.space)="startRevealPendingBlanks()"
        (keyup.space)="stopRevealPendingBlanks()"
        (keydown.enter)="startRevealPendingBlanks()"
        (keyup.enter)="stopRevealPendingBlanks()">
        <img src="assets/images/practice_show_icon.png"/>
      </button>
      <button type="button" class="restart-button icon-size" (click)="restartPractice()">
        <img src="assets/images/practice_restart_icon.png"/>
      </button>
      <button type="button" class="new-round-button icon-size" (click)="startNewRound()">
        <img src="assets/images/practice_cube_icon.png"/>
      </button>
	  </div>
	</form>

	<ng-template #completedState>
    <p class="answer-summary">Eredmény: {{ correctAnswerCount }} / {{ totalBlankCount }}</p>
	  <div class="answer-panel answer-panel--completed">
      <button type="button" class="restart-button icon-size" (click)="restartPractice()">
        <img src="assets/images/practice_restart_icon.png"/>
      </button>
      <button type="button" class="new-round-button icon-size" (click)="startNewRound()">
        <img src="assets/images/practice_cube_icon.png"/>
      </button>
	  </div>
	</ng-template>

	<app-modal
	  [isOpen]="isInfoModalOpen"
	  [title]="infoModalTitle"
	  [text]="infoModalText"
	  (close)="closeInfoModal()"
	></app-modal>
  </section>
</div>

