.content {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .chapters-grid {
    height: calc(100vh - 180px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    align-content: start;
    gap: 10px;
    margin: 8px 0;
    padding: 10px;
    overflow-y: auto;

    .chapter-button {
      width: 100%;
      min-height: 44px;
    }
  }

  .stop-button {
    position: fixed;
    left: 12px;
    bottom: 12px;
    opacity: 0.4;
    width: 45px;
  }

  .auto-play-button {
    width: 110px;
  }
}




