<div class="content">
  @if (!chapter) {
    <div class="chapters-grid">
      @for (chapterItem of slokaService.chapters; track chapterItem) {
        <button
          (click)="setChapter(chapterItem)"
          [class.is-selected]="chapter === chapterItem"
          class="chapter-button">
          {{ chapterItem }}. fejezet
        </button>
      }
    </div>
  } @else {
    <app-sloka [text]="text" [sloka]="sloka" (click)="showNext()" [fullScreen]="isAutoRotating"></app-sloka>

    <div class="footer">
      @if (!isAutoRotating) {
        <button (click)="showPrevious()" class="html-icon" [disabled]="filteredTexts.length < 2" aria-label="Previous" title="Previous">
          «
        </button>
        <button (click)="showChapterSelector()" class="icon-size" [disabled]="false" aria-label="Change Chapter" title="Change Chapter">
          &#9776;
        </button>
        <button (click)="startAutoRotate()" class="icon-size" [disabled]="filteredTexts.length < 2" aria-label="Auto-play" title="Auto-play">
          &#9654;
        </button>
        <button (click)="favouriteService.toggle(sloka)" class="html-icon" [disabled]="slokaService.texts.length < 2">
          @if (sloka && favouriteService.isFavourite(sloka)) { &#9733; } @else { &#9734; }
        </button>
        <button (click)="showNext()" class="html-icon" [disabled]="filteredTexts.length < 2" aria-label="Next" title="Next">
          »
        </button>
      }
    </div>

    @if (isAutoRotating) {
      <button (click)="stopAutoRotate()" class="stop-button" type="button">
        &#9209;
      </button>
    }
  }
</div>




