@if (isLoading()) {
  <div class="loading-overlay">
    <div class="spinner"></div>
  </div>
}
<div class="container" [class.hidden]="isLoading()">
  @if (!appStateService.hideMainMenu() && router.url !== '/') {
    <div class="top-buttons">
      <button routerLink="/guidance" routerLinkActive="is-selected" [routerLinkActiveOptions]="{ exact: true }" type="button">
        <div class="button-icon button-icon-guidance"></div>
        Guidance
      </button>
      <button routerLink="/mind" routerLinkActive="is-selected" [routerLinkActiveOptions]="{ exact: true }" type="button">
        <div class="button-icon button-icon-mind"></div>
        State of Mind
      </button>
      <button routerLink="/library" routerLinkActive="is-selected" [routerLinkActiveOptions]="{ exact: true }" type="button">
        <div class="button-icon button-icon-library"></div>
        Verse Library
      </button>
      <button routerLink="/" routerLinkActive="is-selected" [routerLinkActiveOptions]="{ exact: true }" type="button">
        <div class="button-icon button-icon-practice"></div>
        Practice
      </button>
    </div>
  } @else if (router.url === '/') {
    <div class="welcome-page">
      <img src="assets/images/decoration_icon_lotus.png" alt="Lotus" class="lotus-image" />
      <h1>Daily Gita</h1>
      <img src="assets/images/decoration_icon_main.png" alt="Line" class="decoration-main" />
      <p class="subtitle">Wisdom for every day</p>
      <div class="menu-buttons">

        <div class="menu-button-container guidance" routerLink="/guidance">
          <img src="assets/images/guidance_menu_icon.png" alt="Guidance" class="button-image" />
          <p class="button-text">Guidance</p>
          <p class="description">Receive a verse to guide your day.</p>
          <button>Get Guidance</button>
        </div>

        <div class="menu-button-container mind" routerLink="/mind">
          <img src="assets/images/mind_menu_icon.png" alt="Guidance" class="button-image" />
          <p class="button-text">State of Mind</p>
          <p class="description">Find verses for what you're feeling.</p>
          <button>Explore States</button>
        </div>

        <div class="menu-button-container library" routerLink="/library">
          <img src="assets/images/library_menu_icon.png" alt="Guidance" class="button-image" />
          <p class="button-text">Verse Library</p>
          <p class="description">Browse and read all verses of Bhagavad Gita.</p>
          <button>Browse Library</button>
        </div>

        <div class="menu-button-container practice" routerLink="/practice">
          <img src="assets/images/practice_menu_icon.png" alt="Guidance" class="button-image" />
          <p class="button-text">Practice</p>
          <p class="description">Learn and memorize verses step by step.</p>
          <button>Start Practice</button>
        </div>
      </div>
    </div>
  }
  <router-outlet></router-outlet>

  <div class="background-top">
    <img src="assets/images/welcome_top_left.png" alt="Background" class="background-top-left" />
    <img src="assets/images/welcome_top_right.png" alt="Background" class="background-top-right" />
  </div>
  <div class="background-bottom" [class.welcome]="router.url === '/'">
    <img src="assets/images/welcome_bottom.png" alt="Background" class="background-bottom-image" />
  </div>
</div>
