.container {
  width: 100%;
  margin: 0 auto;
  min-height: calc(100vh - 12px);
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: calc(100% - 10px);
  padding: 5px;

  button {
    flex: 1;

    &.is-selected {
      background: #639cd3;
      border-color: #639cd3;
      color: #ffffff;
    }
  }
}

.welcome-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .lotus-image {
    width: 65px;
  }

  .decoration-main {
    width: 65px;
  }

  h1 {
    font-family: "serif";
    text-align: center;
    margin: 8px 0 6px 0;
    padding: 0;
    font-size: 2.5rem;
    color: #000000;
    font-weight: 400;
  }

  p.subtitle {
    margin-top: 8px;
  }

  .menu-buttons {
    padding: 6px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 6px;
    align-content: center;
    justify-items: center;

    .menu-button-container {
      padding: 12px 5px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: 2px solid #ffffff;
      border-radius: 12px;
      background: #fdf6e7;
      width: calc(100% - 20px);
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.1098039216);

      &.mind {
        background: #ecf3f3;
      }

      &.library {
        background: #f6f6e8;
      }

      &.practice {
        background: #f5f1f7;
      }

      .button-image {
        width: 70px;
        border-radius: 50%;
        box-shadow: 0 0 6px #0000001c;
      }

      p {
        text-align: center;
        margin: 0;
        color: #000000;
      }

      p.button-text {
        font-family: "serif";
        font-size: 1.2rem;
      }

      p.description {
        font-size: 0.6em;
        padding: 0 5px 5px 5px;
        opacity: 0.4;
        line-height: 18px;
      }

      button {
        width: 90%;
        height: auto;
        font-size: 0.7rem;
        border-color: transparent;
        color: rgba(0, 0, 0, 75%);
        background: #00000008;
        box-shadow: 0 0 2px #0000004a;
      }
    }
  }
}

.background-bottom, .background-top {
  overflow: hidden;

  img {
    position: fixed;
    z-index: -1;
    pointer-events: none;
  }

  .background-bottom-image {
    left: -30%;
    bottom: -60px;
    width: 160%;
  }

  .background-top-left {
    left: 0;
    top: 60px;
    width: 50%;
  }

  .background-top-right {
    right: 0;
    top: 60px;
    width: 50%;
  }
}

