.container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  background: white;
  min-height: calc(100vh - 12px);
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: calc(100% - 10px);
  padding: 5px;

  button {
    flex: 1;

    &.is-selected {
      background: #639cd3;
      border-color: #639cd3;
      color: #ffffff;
    }
  }
}

h1 {
  text-align: center;
  margin: 0;
  padding: 40px 0 0 0;
  font-size: 1.2rem;
  color: #639cd3;
  font-weight: 400;
}

.content {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 6px;
  align-content: center;
  justify-items: center;

  button {
    width: 150px;
    height: 150px;
    font-size: 16px;
    font-weight: 600;
    border-color: transparent;
    color: #ffffff;
  }

  button:first-child {
    background: #d9d1ab;
  }

  button:nth-child(2) {
    background: #789ca8;
  }

  button:nth-child(3) {
    background: #4a9cb7;
  }

  button:nth-child(4) {
    background: #9b9997;
  }
}

