<div class="content">
  @if (text) {
	<app-sloka [text]="text" [sloka]="sloka" (click)="showRandomSloka()" [fullScreen]="isAutoRotating"></app-sloka>
  }
  <div class="footer">
    @if (!isAutoRotating) {
      <button (click)="showRandomSloka()" class="html-icon">
        &#8634;
      </button>
      <button (click)="startAutoRotate()" class="icon-size" [disabled]="slokaService.texts.length < 2">
        &#9654;
      </button>
      <button (click)="favouriteService.toggle(sloka)" class="html-icon" [disabled]="slokaService.texts.length < 2">
        @if (sloka && favouriteService.isFavourite(sloka)) { &#9733; } @else { &#9734; }
      </button>
    }
  </div>

  @if (isAutoRotating) {
    <button (click)="stopAutoRotate()" class="stop-button" type="button">
      &#9209;
    </button>
  }
</div>

