<div class="content">
  @if (text) {
	<app-sloka [text]="text" [sloka]="sloka" (click)="showRandomSloka()"></app-sloka>
  }
  <div class="footer">
    @if (!isAutoRotating) {
      <button (click)="showRandomSloka()" class="guidance-button">
        Get Guidance
      </button>
      <button (click)="startAutoRotate()" class="auto-play-button" [disabled]="slokaService.texts.length < 2" aria-label="Auto-play" title="Auto-play">
        Auto-play
      </button>
    }
  </div>

  @if (isAutoRotating) {
    <button (click)="stopAutoRotate()" class="stop-button" type="button">
      &#9209;
    </button>
  }
</div>

