body {
  background: lightgray;
  font-family: "Gill Sans", sans-serif;
  font-size: 1.2rem;
}

button {
  border: 1px solid #639cd3;
  color: #639cd3;
  background: white;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button.secondary {
  border: none;
  background: none;
  text-transform: capitalize;
}

button:hover {
  border-color: #000000;
  color: #000000;
}

button:disabled {
  border-color: #b0b0b0;
  color: #b0b0b0;
  cursor: not-allowed;
  opacity: 0.5;
}

button.is-selected {
  background: #639cd3;
  border-color: #639cd3;
  color: #ffffff;
}

button.secondary.is-selected {
  background: #316ea8;
  border-color: #316ea8;
  color: #ffffff;
}

button.fixed-size {
  min-width: 90px;
}
